In [75]:
import warnings
warnings.simplefilter("ignore")

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

html = """
<!DOCTYPE html>
<html>
<head>
    <title>Empresa JPL Title</title>
</head>
<body>
    <h3><b id='boldest'>Lebron James</b></h3>
    <p> Salary: $92,000,000 </p>
    
    <h3>Stephen Curry</h3>
    <p> Salary: $85,000,000 </p>
    
    <h3>Kevin Durant</h3>
    <p> Salary: $73,200,000 </p>
</body>
</html>
"""
soup = BeautifulSoup(html, "html.parser")
print(soup.prettify())

obtener_titulo = soup.title
print("obtener titulo: ",obtener_titulo)

obtener_jugador = soup.h3
print("obtener jugador",obtener_jugador)

nombre = []

for h3 in soup.find_all("h3"):
    if h3.b:
        nombre.append(h3.b.text)
    else:
        nombre.append(h3.text)
print(nombre)


obtener_titulo = soup.h3
obtener_titulo

print(obtener_titulo.b.text)

tag_child = obtener_titulo.b
tag_child


obtener_titulo
obtener_titulo.parent

sibling_1=obtener_titulo.next_sibling
sibling_1

sibling_2=sibling_1.next_sibling
sibling_2

curry_h3 = soup.find("h3",string="Stephen Curry")

sibling_1 = curry_h3.next_sibling

sibling_2 = sibling_1.next_sibling

print(sibling_2.text)

tag_child['id']

tag_child.attrs

tag_child.get('id')

tag_string=tag_child.string
tag_string

type(tag_string)

unicode_string = str(tag_string)
unicode_string

<!DOCTYPE html>
<html>
 <head>
  <title>
   Empresa JPL Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000,000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200,000
  </p>
 </body>
</html>

obtener titulo:  <title>Empresa JPL Title</title>
obtener jugador <h3><b id="boldest">Lebron James</b></h3>
['Lebron James', 'Stephen Curry', 'Kevin Durant']
Lebron James
 Salary: $85,000,000

'Lebron James'

In [123]:
import warnings
warnings.simplefilter("ignore")

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

table = """
<table>
    <tr>
        <td id='flight'>Flight No</td>
        <td>Launch site</td>
        <td>Payload mass</td>
    </tr>
    <tr>
        <td class="API">1</td>
        <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
        <td>300 kg</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
        <td>94 kg</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
        <td>80 kg</td>
    </tr>
</table>
"""


table_bs = BeautifulSoup(table, "html.parser")
print(table_bs.prettify())

table_rows=table_bs.find_all('tr')
table_rows

first_row =table_rows[0]
first_row

print(type(first_row))

first_row.td

for i,row in enumerate(table_rows):
    print("row",i,"is",row)
    
for i,row in enumerate(table_rows):
    print("row",i)
    cells=row.find_all('td')
    for j,cell in enumerate(cells):
        print('colunm',j,"cell",cell)

        list_input=table_bs .find_all(name=["tr", "td"])
list_input

table_bs.find_all(id="flight")

list_input=table_bs.find_all(href="https://en.wikipedia.org/wiki/Texas")
list_input

table_bs.find_all(href=True)

table_bs.find_all("a", href=False)

soup.find_all(id="boldest")

<table>
 <tr>
  <td id="flight">
   Flight No
  </td>
  <td>
   Launch site
  </td>
  <td>
   Payload mass
  </td>
 </tr>
 <tr>
  <td class="API">
   1
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
   </a>
  </td>
  <td>
   300 kg
  </td>
 </tr>
 <tr>
  <td>
   2
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Texas">
    Texas
   </a>
  </td>
  <td>
   94 kg
  </td>
 </tr>
 <tr>
  <td>
   3
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
   </a>
  </td>
  <td>
   80 kg
  </td>
 </tr>
</table>

<class 'bs4.element.Tag'>
row 0 is <tr>
<td id="flight">Flight No</td>
<td>Launch site</td>
<td>Payload mass</td>
</tr>
row 1 is <tr>
<td class="API">1</td>
<td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
<td>300 kg</td>
</tr>
row 2 is <tr>
<td>2</td>
<td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
<td>94 kg</td>
</tr>
row 3 is <tr>
<td>3</td>
<td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
<td>80 kg</td>
</tr>
row 0
colunm 0 cell <td id="flight">Flight No</td>
colunm 1 cell <td>Launch site</td>
colunm 2 cell <td>Payload mass</td>
row 1
colunm 0 cell <td class="API">1</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
colunm 2 cell <td>300 kg</td>
row 2
colunm 0 cell <td>2</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
colunm 2 cell <td>94 kg</td>
row 3
colunm 0 cell <td>3</td>
colunm 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
colunm 2 cell <td>80 kg</td>

In [135]:
import warnings
warnings.simplefilter("ignore")

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

table = """
<table>
    <tr>
        <td id='flight'>Flight No</td>
        <td>Launch site</td>
        <td>Payload mass</td>
    </tr>
    <tr>
        <td>1</td>
        <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
        <td>300 kg</td>
    </tr>
    <tr>
        <td>2</td>
        <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
        <td>94 kg</td>
    </tr>
    <tr>
        <td>3</td>
        <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
        <td>80 kg</td>
    </tr>
</table>
"""

table_bs.find_all(string="Florida")

<table class="rocket">
<tr>
<td>Flight No</td>
<td>Launch site</td>
<td>Payload mass</td>
</tr>
<tr>
<td>1</td>
<td>Florida</td>
<td>300 kg</td>
</tr>
<tr>
<td>2</td>
<td>Texas</td>
<td>94 kg</td>
</tr>
<tr>
<td>3</td>
<td>Florida</td>
<td>80 kg</td>
</tr>
</table>

In [142]:
two_tables = """
<h3>Rocket Launch</h3>
<p>
    <table class='rocket'>
        <tr>
            <td>Flight No</td>
            <td>Launch site</td>
            <td>Payload mass</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Florida</td>
            <td>300 kg</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Texas</td>
            <td>94 kg</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Florida</td>
            <td>80 kg</td>
        </tr>
    </table>
</p>

<h3>Pizza Party</h3>
<p>
    <table class='pizza'>
        <tr>
            <td>Pizza Place</td>
            <td>Orders</td>
            <td>Slices</td>
        </tr>
        <tr>
            <td>Domino's Pizza</td>
            <td>10</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Little Caesars</td>
            <td>12</td>
            <td>144</td>
        </tr>
        <tr>
            <td>Papa John's</td>
            <td>15</td>
            <td>165</td>
        </tr>
    </table>
</p>
"""

two_tables_bs= BeautifulSoup(two_tables, 'html.parser')
two_tables_bs.find("table")

two_tables_bs.find("table",class_='pizza')

two_tables_bs("table",class_='rocket')

[<table class="rocket">
 <tr>
 <td>Flight No</td>
 <td>Launch site</td>
 <td>Payload mass</td>
 </tr>
 <tr>
 <td>1</td>
 <td>Florida</td>
 <td>300 kg</td>
 </tr>
 <tr>
 <td>2</td>
 <td>Texas</td>
 <td>94 kg</td>
 </tr>
 <tr>
 <td>3</td>
 <td>Florida</td>
 <td>80 kg</td>
 </tr>
 </table>]

In [150]:
## We use get to download the contents of the webpage
## in text format and in a variable called data:

import warnings
warnings.simplefilter("ignore")

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page


url = "https://web.archive.org/web/20230224123642/https://www.ibm.com/us-en/"

data  = requests.get(url).text 

soup = BeautifulSoup(data,"html.parser") 

## Get link from  a web page

for link in soup.find_all("a",href=True):
    print(link.get("href"))


##Get link from a picture web page

for img in soup.find_all("img"):
    print(img)
    print(img.get("src"))

https://web.archive.org/web/20230224123642/https://www.ibm.com/reports/threat-intelligence/
https://web.archive.org/web/20230224123642/https://www.ibm.com/about
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/strategy/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/ibmix?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/technology/
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/operations/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/strategic-partnerships
https://web.archive.org/web/20230224123642/https://www.ibm.com/employment/?lnk=flatitem
https://web.archive.org/web/20230224123642/https://www.ibm.com/impact
https://web.archive.org/web/20230224123642/https://research.ibm.com/
https://web.archive.org/web/20230224123642/https://www.ibm.com/
<img alt="Person standing with arms crossed" aria-describedby="bx--image-1" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0a23e414312bcb6f/08196d0e04260ae5_cropped.jpg.global.sr_16x9.jpg
<img alt="Team members at work in a conference room" aria-describedby="bx--image-2" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06655c075aa3aa29/CaitOppermann_2019_12_06_IBMGarage_DSC3304.jpg.global.m_16x9.jpg
<img alt="Coworkers looking at laptops" aria-describedby="bx--image-3" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/08f951353c2707b8/052022_CaitOppermann_InsideIBM_London_2945_03.jpg.global.sr_16x9.jpg
<img alt="Cloud developer with red sweater coding at desk" aria-describedby="bx--image-4" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/064e0139f5a3aa5e/0500002_Lowell_LI_100119.jpg.global.sr_16x9.jpg
<img alt="Aerial view of automated conveyer belt and machinery at work" aria-describedby="bx--image-5" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/0795cae91a25156f/conveyorrobottopview.jpg.global.sr_16x9.jpg
<img alt="Overhead view of partners collaborating on design with laptops and coffee" aria-describedby="bx--image-6" class="bx--image__img" src="https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg"/>
https://web.archive.org/web/20230224123642im_/https://1.dam.s81c.com/p/06dfa9ccdba4ec79/1f417900-9042-44d1-9c219a854bbb62ea.jpg.global.sr_16x9.jpg

In [164]:
#The below url contains an html table with data about colors and color codes.
import warnings
warnings.simplefilter("ignore")

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

data = requests.get(url).text

soup = BeautifulSoup(data,"html.parser")

table = soup.find("table")

for row2 in table.find_all('tr'):
    cols = row2.find_all('td')
    number = cols[0].string
    color_code = cols[4].string
    print("{}---->{}".format(number,color_code))

Number ---->None
1---->rgb(255,160,122)
2---->rgb(250,128,114)
3---->rgb(233,150,122)
4---->rgb(240,128,128)
5---->rgb(255,127,80)
6---->rgb(255,99,71)
7---->rgb(255,69,0)
8---->rgb(255,215,0)
9---->rgb(255,165,0)
10---->rgb(255,140,0)
11---->rgb(255,255,224)
12---->rgb(255,250,205)
13---->rgb(255,239,213)
14---->rgb(255,228,181)
15---->rgb(255,218,185)
16---->rgb(238,232,170)
17---->rgb(240,230,140)
18---->rgb(189,183,107)
19---->rgb(255,255,0)
20---->rgb(124,252,0)
21---->rgb(127,255,0)
22---->rgb(50,205,50)
23---->rgb(0.255.0)
24---->rgb(34,139,34)
25---->rgb(0,128,0)
26---->rgb(176,224,230)
27---->rgb(173,216,230)
28---->rgb(135,206,250)
29---->rgb(135,206,235)
30---->rgb(0,191,255)
31---->rgb(176,196,222)
32---->rgb(30,144,255)

In [34]:
import warnings
warnings.simplefilter("ignore")

from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page



url = "https://en.wikipedia.org/wiki/World_population"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) "
                  "AppleWebKit/537.36 (KHTML, like Gecko) "
                  "Chrome/91.0.4472.124 Safari/537.36"
}

data  = requests.get(url, headers=headers)
soup = BeautifulSoup(data.text,"html.parser")


tables = soup.find_all("table")

print(f"Tenemos: {len(tables)} en total")


for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

##print(tables[table_index].prettify())



population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area", "Density"])

for row in tables[table_index].tbody.find_all("tr"):
    col = row.find_all("td")
    if col:
        rank = col[0].text.strip()
        country = col[1].text.strip()
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()

        # Create a temporary DataFrame for the new row
        new_row = pd.DataFrame([{"Rank": rank, "Country": country, "Population": population, "Area": area, "Density": density}])

        # Use concat 
        population_data = pd.concat([population_data, new_row], ignore_index=True)

population_data


pd.read_html(str(tables[5]), flavor='bs4')

population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

dataframe_list = pd.read_html(data.text, flavor='bs4')

##len(dataframe_list)

dataframe_list[5]

heading = soup.find("h3", {"id": "Most_densely_populated_countries"})

# Get the next table after this heading
table = heading.find_next("table")

# Convert to DataFrame
df = pd.read_html(str(table))[0]
print(df.head())

Tenemos: 26 en total
5

   Rank                 Country  Population  Area (km2)  Density (pop/km2)
0     1               Singapore     5921231         719               8235
1     2              Bangladesh   165650475      148460               1116
2     3  Palestine[note 3][102]     5223000        6025                867
3     4          Taiwan[note 4]    23580712       35980                655
4     5             South Korea    51844834       99720                520
5     6                 Lebanon     5296814       10400                509
6     7                  Rwanda    13173730       26338                500
7     8                 Burundi    12696478       27830                456
8     9                  Israel     9402617       21937                429
9    10                   India  1389637446     3287263                423